/examples/Test.net.nml
/examples/LEMS_SimpleNet_netpyne.py
/examples/LEMS_SpikingNet_netpyne.py
/examples/Balanced.net_pov.bat
/examples/Balanced.net_pov.sh
/examples/SpikingNet.net_cells.inc
/examples/SpikingNet.net_pov.bat
/examples/SpikingNet.net_pov.sh
/examples/Balanced.net.svg
*~
x86_64
i386
umac
*.dll
*.pyc

NeuroML2/*.dat

NeuroML2/*.dat.lems
NeuroML2/*.hoc
NeuroML2/*.mod
NeuroML2/*nrn.py
NeuroML2/*pynn.py
NeuroML2/*definition.py
NeuroML2/*.json


examples/*.hoc
examples/*.mod
examples/*nrn.py
examples/*pynn.py
examples/*definition.py
/examples/*.dat
/examples/*.json
examples/*.nrn
examples/*netpyne.py

OpenCortex.egg-info
dist
build/lib*
/examples/test.py
/examples/output.avi
/examples/*.svg
/examples/Balanced_2410cells_2632766conns.net.nml.h5
/logo.png
/drawing.svg
/examples/movies/balanced.avi
/examples/movies/output.avi
/opencortex/__init__$py.class
/examples/npcellimport.py
/examples/Balanced_120cells_7293conns.net.nml
/examples/LEMS_Balanced_120cells_7293conns.xml
/examples/Sim_SpikingNet.pop_post.v.dat.n
/examples/Sim_SpikingNet.pop_pre.v.dat.n
