*~
x86_64
i386
umac
*.dll
*.pyc

NeuroML2/*.dat

NeuroML2/*.dat.lems
NeuroML2/*.hoc
NeuroML2/*.mod
NeuroML2/*nrn.py
NeuroML2/*pynn.py
NeuroML2/*definition.py
NeuroML2/*.json


examples/*.hoc
examples/*.mod
examples/*nrn.py
/examples/*.dat

OpenCortex.egg-info
dist
build/lib*
