/examples/LEMS_ACNet_4cells_4conns.xml
/examples/ACNet_4cells_4conns.net.nml
/examples/Test.net.nml
/examples/LEMS_SimpleNet_netpyne.py
/examples/LEMS_SpikingNet_netpyne.py
/examples/Balanced.net_pov.bat
/examples/Balanced.net_pov.sh
/examples/SpikingNet.net_cells.inc
/examples/SpikingNet.net_pov.bat
/examples/SpikingNet.net_pov.sh
/examples/Balanced.net.svg
*~
x86_64
i386
umac
*.dll
*.pyc

NeuroML2/*.dat

NeuroML2/*.dat.lems
NeuroML2/*.hoc
NeuroML2/*.mod
NeuroML2/*nrn.py
NeuroML2/*pynn.py
NeuroML2/*definition.py
NeuroML2/*.json


examples/*.hoc
examples/*.mod
examples/*nrn.py
examples/*pynn.py
examples/*definition.py
/examples/*.dat
/examples/*.json
examples/*.nrn
examples/*netpyne.py
examples/*.pov
examples/*.png
examples/*.ini
examples/LEMS_ACNet_*xml
examples/ACNet_*nml

OpenCortex.egg-info
dist
build/lib*
/examples/test.py
/examples/output.avi
/examples/*.svg
/examples/Balanced_2410cells_2632766conns.net.nml.h5
/logo.png
/drawing.svg
/examples/movies/balanced.avi
/examples/movies/output.avi
/opencortex/__init__$py.class
/examples/npcellimport.py
/examples/Balanced_120cells_7293conns.net.nml
/examples/LEMS_Balanced_120cells_7293conns.xml
/examples/Sim_*dat.n
/examples/L23TraubDemo_16cells_23conns.net.nml
/examples/L23TraubDemo_2cells_0conns.net.nml
/examples/LEMS_Balanced_240cells_29299conns.xml
/examples/LEMS_L23TraubDemo_16cells_23conns.xml
/examples/LEMS_L23TraubDemo_2cells_0conns.xml
/examples/L23TraubDemo_20cells_28conns.net.nml
/examples/LEMS_L23TraubDemo_20cells_28conns.xml

/doc/_build
/examples/L23TraubDemo_1cells_0conns.net.nml
/examples/LEMS_L23TraubDemo_1cells_0conns.xml
/examples/L23TraubDemo_2cells_1conns.net.nml
/examples/LEMS_L23TraubDemo_2cells_1conns.xml
/examples/LEMS_L23TraubDemo_8cells_16conns.xml

/examples/Sim_L23TraubDemo.pop_post.v.dat.n
/examples/Sim_L23TraubDemo.pop_pre.v.dat.n
/examples/Sim_L23TraubDemo_2cells_0conns.pop_pre.v.dat.n
/examples/*.spikes
/private/cache/retriever/catalog.xml

/notebooks/*.mod
/notebooks/*.hoc
/notebooks/*.dat
/notebooks/x86_64
/notebooks/*.xml
/notebooks/*.nml
/notebooks/TestIClamp
/notebooks/*.py
/notebooks/*.png
/notebooks/*.svg
/notebooks/.ipynb_checkpoints/
/examples/LEMS_Balanced_240cells_36926conns.xml
/examples/LEMS_Balanced_610cells_213550conns.xml
/private/cache/retriever/www.w3.org/1999/02/22-rdf-syntax-ns
/examples/LEMS_Multiscale*.xml
/examples/Multiscale*.net.nml
/examples/Multiscale*
/examples/temp
/examples/Balanced_240cells_36926conns
/examples/Balanced_610cells_0conns
/examples/Balanced_610cells_213550conns
/examples/L23TraubDemo_*
/examples/LEMS_L23TraubDemo_*.xml
/examples/HDF5/*.mod
/examples/HDF5/*_nrn.py
/examples/HDF5/*.dat
/examples/HDF5/jsbml.log
/examples/HDF5/libjhdf5.so
/examples/HDF5/*.hoc
/examples/HDF5/*.py_main.json
/examples/HDF5/*_netpyne.py
/examples/redo0.sh
/examples/tens.py
/examples/*.gv.pdf
/examples/*.gv
/examples/HDF5/report*.txt
/examples/report*.txt
/examples/HDF5/libjhdf5.jnilib
/examples/neuromllite/*.gv*
/examples/neuromllite/*.dat
/examples/neuromllite/report*txt
arm64
